// DELETE ON PRODUCTION
.baseline {
    @include baseline-grid();
}
////////////////////


body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $typeface;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}
