.global-nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 4%;
    background-color: $blue;
    z-index: 1;
    @include mappy-bp(med) {
        position: relative;
        width: auto;
        float: right;
    }
}

.global-nav__item {
    display: none;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    @include mappy-bp(med) {
        display: inline-block;
        width: auto;
        margin: 0 2.5rem;
    }
}

.global-nav__toggle {
    display: flex;
    align-items: center;
    float: right;
    @include mappy-bp(med) {
        display: none;
    }
}

.icon-menu {
    fill: #fff;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    &:hover {
        fill: #000;
    }
}
