.hero-wrapper {
    position: relative;
    width: 100%;
    background: url('/images/desk-bg-left.jpg') repeat-x;
    background-color: $blue;
    background-size: 270px auto;
    background-position: bottom left;
}

.hero {
    position: relative;
    background: url('/images/desk-img.png') bottom right no-repeat;
    background-size: 330px;
    width: 100%;
    min-height: ms(16);
    color: $white;
    @include mappy-bp(med) {
        background-position: bottom right;
        min-height: ms(17);
        background-size: 540px;
    }
}
