.hero {
    background: url('/images/desk-img.jpg') top right 4% no-repeat;
    background-size: contain;
    width: 100%;
    height: 1000px;
    color: $white;
    @include mappy-bp(med) {
        background-size: auto;
    }
}

%hero__bg {
    display: none;
    @include mappy-bp(med) {
        display: block;
        position: absolute;
        height: 100%;
        z-index: -1;
    }
}

.hero__bg--left {
    @extend %hero__bg;
    width: 75%;
    background: url('/images/desk-bg-left.jpg') repeat-x;
}

.hero__bg--right {
    @extend %hero__bg;
    width: 25%;
    background: url('/images/desk-bg-right.jpg') repeat-x;
    right: 0;
}
